outputExecutableName: 'appname'
templatefilename: '*.mustache'
rename:
  extname: ""
context:
  Components: [
    {type:'Transform'}
    {type:'Camera'}
    {type:'Mesh'}
    {type:'MeshView'}
    {type:'Collider'}
  ]
