project:
  outputExecutableName: 'example'
  compilerDefines: [
    '-DCONFIG_DEBUG'
    '-DGL_GLEXT_PROTOTYPES'
  ]
  LinkerArgs: [
    '-lstdc++'
    '-lm'
    '-lpthread'
    '-lSDL2main'
    '-lSDL2'
    #'-lSDL2_image'
    '-langelscript'
    '-lphysfs'
  ]
  sourceGlob: '**/*.cpp'
  watchGlob: '{**/*.cpp,**/*.h,**/*.mustache}'
  assetGlob: '**/*@(.png|.ogg|.json|.as|.frag|.vert)'
target:
  linux:
    LinkerArgs: [ '-lGL' ]
  darwin:{
    LinkerArgs: [ '-liconv' ]
    frameworks: [
      '-framework CoreVideo'
      '-framework GLKit'
      '-framework OpenGL'
      '-framework IOKit' # physfs
      '-framework Carbon' # physfs
      # '-framework CoreAudio'
      # '-framework AudioToolbox'
      # '-framework AudioUnit'
    ]
  }
mustache:
  sourceGlob: '*.mustache'
  rename: { extname: ''}
  context:
    Components: [
      {type:'Transform'}
      {type:'Camera'}
      {type:'Mesh'}
      {type:'MeshView'}
      {type:'Collider'}
    ]
